body{
    background-color:#a3b2b6;
}


h1{
    /* background-color: rgb(138, 175, 207); */
    text-align: center;
    color: white;
  text-shadow: 2px 2px 4px #000000;
}
.output-color{
    background-color: #000000;
    height: 5vh;
    width: 5vw;
}

.like-body{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80);
    /* background-repeat: no-repeat; 
    margin-left: 3vh;
    margin-right: 3vh; */
    background-size: cover;
    background-position: center;

}



.main-container{
    /* background-color: aqua; */
    width: 65vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    background-color:#daded4;
    border-radius: 0.7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* justify-content: space-between; */
}

.input-section{
    height: 30vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.input-textbox,
.output-textbox{
    margin-top: 4vh;
    height: 50vh;
    width: 23vw;
    border-radius: 0.52vw;
}

.action-items{
    margin:2vh;
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
}

.output-section{
    height: 30vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.button{
        width: 10vw;
        height: 8vh;
        border-radius: 0.52vw;
        font-size: 2.5vh;
}
    
.button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding: 0.4vh;
    margin-top: 0vh;
    
  }